header{
    text-align: center;
    font-size: 75px;
    background-color: darkgoldenrod;
}
table, th, td{
    border: 1px solid black;
    margin: 10px;

}

.total{
    text-align: right;
}

.info-input{
    border: 1px solid black;
    
}